/**
 * @file     style.css
 * @author   Oudayan Dutta
 * @version  1.0
 * @date     31 janvier 2018
 * @brief    Styles CSS custom
 * @details  Feuille de style CSS pour rajouter/modifier des style de Bootstrap
 */

/*
@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow|Roboto');

    font-family: 'Pragati Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

body {
    /*font-family: 'Pragati Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;*/
}

header {
    color: rgba(0, 0, 0, 0.9);
    /*height: 20vh;
    width: 100%;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pragati Narrow', sans-serif;
}

main h1 {
    color: #e98d34 !important;
    text-shadow: 1px 1px 3px #666;
}

h6 {
    color: #1d91bc;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

main {
    background-color: rgba(254, 254, 254, 0);
    margin-bottom: 10vh;
}

/* Page d'accueil */

.background {
    background: url(../images/MONTREAL.jpg) no-repeat fixed;
    background-size: contain;
    height: 70vh;
    margin-top: -13vh;
}

.depart {
    bottom: -45vh;
    color: #f5f5f5;
    text-shadow: 1px 1px 3px #666;
    background-color: rgba(254, 254, 254, 0);
}

.depart button {
    width: 125px;
    -webkit-box-shadow: 1px 1px 3px #666;
    -moz-box-shadow: 1px 1px 3px #666;
    box-shadow: 1px 1px 3px #666;
}

@media (min-width: 1400px) {
    .depart {
        bottom: -46vh;
    }
}

@media (max-width: 1400px) {
    main.background {
        height: 60vh;
    }

    .depart {
        bottom: -37vh;
    }
}

@media (max-width: 1175px) {
    main.background {
        height: 50vh;
    }

    .depart {
        bottom: -30vh;
    }
}

@media (max-width: 991px) {
    main.background {
        background-position: 0 10vh;
    }

    .depart {
        bottom: -37vh;
    }
}

@media (max-width: 880px) {
    .depart {
        bottom: -33vh;
    }
}

@media (max-width: 800px) {
    .depart {
        bottom: -45vh;
    }
}

@media (max-width: 700px) {
    .depart {
        bottom: -40vh;
    }
}

@media (max-width: 537px) {
    main.background {
        background-position: 0 22vh;
    }
}

/* Page recherche */

.recherche {
    -webkit-box-shadow: 1px 1px 1px #999;
    -moz-box-shadow: 1px 1px 1px #999;
    box-shadow: 1px 1px 1px #999;
}

.date-form {
    position: relative;
}

.date-icon {
    position: absolute;
    bottom: 0;
    right: 0;
}

#formulaire_recherche a.btn.btn-orange,
#formulaire_recherche a:hover.btn.btn-orange {
    display: inline-flex;
    color: #f5f5f5;
    height: 3.5vh;
    font-size: 1em;
}

a i.fa.fa-globe {
    display: inline-block;
    font-size: 1.5em;
    margin-top: -10px;
}

a.nav-item.nav-link {
    color: rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 3px #666;
}

a:hover.nav-item {
    color: rgb(200, 110, 30);
    text-shadow: 1px 1px 3px #666;
}

.nav-item.nav-link.active {
    color: #e98d34;
    text-shadow: 1px 1px 3px #666;
}

#carte {
    min-height: 86vh;
    -webkit-box-shadow: 1px 1px 2px #999;
    -moz-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999;
}

.legende img {
    width: 20px;
    height: auto;
}

.hidden {
    display: none;
}

h4.titre-fiche {
    background: rgba(0, 0, 0, 0.67);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.6));
}

.description-fiche a {
    color: rgba(0, 0, 0, 0.67);
}

.description-fiche a:hover {
    color: rgba(0, 0, 0, 0.9);
}

#fiches {
    height: 95vh;
    overflow: scroll;
    -webkit-box-shadow: 1px 1px 2px #999;
    -moz-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999;
}

/* Évaluations 
Source : https://stackoverflow.com/questions/30765441/use-font-awesome-star-rating-define-by-width
*/

.score {
    display: inline-block;
    font-family: Wingdings;
    font-size: 25px;
    color: #ccc;
    position: relative;
}

.score::before,
.score span::before {
    content: "\2605\2605\2605\2605\2605";
    display: block;
}

.score span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #e98d34;
    text-shadow: 1px 1px 3px #666;
}

.prix {
    font-size: 25px;
    color: #e98d34;
    text-shadow: 1px 1px 3px #666;
}

#carteLogement {
    min-height: 33vh;
    -webkit-box-shadow: 1px 1px 2px #999;
    -moz-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999;
}

/* Styles pour les boutons */

.btn-bleu {
    color: #f5f5f5;
    background-color: rgb(29, 145, 188);
    border-color: #1d91bc;
}

.btn-bleu:hover {
    color: #f5f5f5;
    background-color: rgb(15, 110, 145) !important;
    border-color: rgb(15, 110, 145) !important;
}

.btn-bleu:focus,
.btn-bleu.focus {
    -webkit-box-shadow: 0 0 0 3px rgba(23, 133, 173, 0.5) !important;
    -moz-box-shadow: ;
    box-shadow: 0 0 0 3px rgba(23, 133, 173, 0.5) !important;
}

.btn-bleu.disabled,
.btn-bleu:disabled {
    background-color: #78aeee;
    border-color: #78aeee;
}

.btn-bleu:active,
.btn-bleu.active,
.show > .btn-bleu.dropdown-toggle {
    color: #f5f5f5;
    background-color: rgb(23, 133, 173) !important;
    background-image: none;
    border-color: rgb(23, 133, 173) !important;
}

.btn-orange {
    color: #f5f5f5;
    background-color: #e98d34;
    border-color: #e98d34;
}

.btn-orange:hover {
    color: #f5f5f5;
    background-color: rgb(205, 120, 45) !important;
    border-color: rgb(205, 120, 45) !important;
}

.btn-orange:focus,
.btn-orange.focus {
    -webkit-box-shadow: 0 0 0 3px rgba(205, 120, 45, 0.5) !important;
    -moz-box-shadow: ;
    box-shadow: 0 0 0 3px rgba(205, 120, 45, 0.5) !important;
}

.btn-orange.disabled,
.btn-orange:disabled {
    background-color: #deb995;
    border-color: #deb995;
}

.btn-orange:active,
.btn-orange.active,
.show > .btn-orange.dropdown-toggle {
    color: #f5f5f5;
    background-color: #e98d34 !important;
    background-image: none;
    border-color: #e98d34 !important;
}

/** Carousel **/

.carousel-indicators {
    margin-bottom: -25px;
    background: rgba(0, 0, 0, 0.67);
    color: rgba(0, 0, 0, 0.67);
}

carousel-caption h5 {
    display: inline-block;
    bottom: -50px;
    color: #999;
}

header a.nav-item.nav-link,
a.nav-item {
    color: #e98d34;
}

.iconMessage, .iconNav {
    color: #e98d34;
}

.modal-header,
h4 {
    background-color: rgba(23, 117, 152, 0);
    background: linear-gradient(to right, rgb(29, 145, 188), rgb(22, 90, 115));
    color: #fefefe !important;
    text-align: center;
    font-size: 20px;
}

.modal-header {
    height: 60px;
}

.modal-header .close {
    padding: 0.5rem;
    margin: -.5rem -1rem -1rem auto;
    color: #fefefe !important;
    background-color: rgba(23, 117, 152, 0);
}

#btnModal {
    height: 30px;
    color: #f5f5f5;
    background-color: #1d91bc;
    border-color: #1d91bc;
    border: none;
    border-radius: 4px;
}

.modal-footer {
    background-color: #F6F7EA;
}

.textModalc {
    color: black;
}

#dialog {
    width: 300px;
    height: 100px;
}

.navbar {
    background: rgba(51, 51, 51, 0.97);
}

label {
    color: black;
}

#services {
    margin-top: 20px;
    background: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerText {
    color: #9d9d96;
    font-size: 0.9em;
}
/*-------------
   Icons
-----------------*/
.iconFooter {
    color: #e98d34;
}
/* style social icon*/

.fa {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google-plus {
    background: #b33b2c;
    color: white;
}

.fa-twitter {
    background: white;
    color: #1b95e0;
    ;
}

.fa-envelope {
    color: #e98d34;
}

.fa-envelope-open {
    color: #6c757d;
}

#info {
    background-color: #f6f7eA;
    padding: 15px;
}

.circle {
    width: 250px;
    height: 250px;
    background: #fefefe;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 20px;
    padding: 10px 15px 40px 15px;
    font-family: 'Pragati Narrow', sans-serif;
}

/* ------------
  Messagerie 
-------------*/

.nav-pills,
.tab-messagerie {
    margin-top: 25px;
    margin-bottom: 25px;
}

nav.v-pills-tab {
    /*background: rgb(29, 145, 188);*/
    background: linear-gradient(to right, rgba(11, 42, 52, 0.99), rgb(75, 76, 76));
    border-radius: 5px;
    font-size: 1rem;
}

a.nav-link {
    color: #F0EFE7;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #f5f5f5;
    background-color: rgb(205, 120, 45) !important;
    border-color: rgb(205, 120, 45) !important;
}

#v-pills-boitRecp,
#v-pills-mEnvoyes {
    height: 50vh;
    overflow-y: auto;
}

.btnsMessagerie {
    background-color: rgba(58, 90, 101, 0);
}

.input-group-text {
    color: rgb(93, 94, 95) !important;
    background: #f6f7ea !important;
}

#btnEnvoyer {
    float: right;
}

#suppMsg {
    float: right;
}

.boiteLecture {
    background: rgb(250, 251, 246);
    padding: 20px 20px 140px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dee2e6;
}

.heigthFormBLecture {
    height: 15px;
}

.display,
.composerMessage {
    border-style: solid;
    border-width: 1px;
    border-color: #dee2e6;
    border-radius: 4px;
}

.composerMessage {
    padding: 20px;
    margin: 0;
}

#menuMessagerie {
    padding: 0px;
}

.textMessage {
    border-style: solid;
    border-color: rgb(246, 247, 234);
    border-radius: 4px;
}

.display th {
    text-align: center !important;
}

/* ------------
  Modal Liste de contacts 
-------------*/

#feedback {
    font-size: 0.9em;
}

#selectable .ui-selecting {
    color: #f5f5f5;
    background-color: rgb(205, 120, 45) !important;
    border-color: rgb(205, 120, 45) !important;
}

#selectable .ui-selected {
    background: #e98d34;
    color: #f5f5f5;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#selectable li {
    margin-left: 5px;
    padding: 0em;
    font-size: 0.8em;
}

.afficherContacts {
    border-style: solid;
    border-radius: 4px;
    border-color: #dee2e6;
}

/* Funky radio buttons - Source : https://bootsnipp.com/snippets/featured/funky-radio-buttons */

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-orange input[type="radio"]:checked ~ label:before,
.funkyradio-orange input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #e98d34;
}

.funkyradio-bleu input[type="radio"]:checked ~ label:before,
.funkyradio-bleu input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: rgb(29, 145, 188);
}

/* Fin de Funky radio buttons */

/*  images   */

.image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.image:hover {
    opacity: 0.7;
}

/* The Modal (background) */

#myModalimg {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-contentImg {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */

.modal-contentImg,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-contentImg {
        width: 100%;
    }
}
