/**
 * @file     style.css
 * @author   Oudayan Dutta
 * @version  1.0
 * @date     31 janvier 2018
 * @brief    Styles CSS custom
 * @details  Feuille de style CSS pour rajouter/modifier des style de Bootstrap
 */

/*
@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow|Roboto');

    font-family: 'Pragati Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
body {
    /*font-family: 'Pragati Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;*/
    font-size: 1em;
}

header {
    color: rgba(0, 0, 0, 0.9);
    height: 20vh;
    widows: 100%;
}

header h1 {
    font-size: 5em;
}

header h2 {
    font-size: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pragati Narrow', sans-serif;
}

h6 {
  color: #1d91bc;
}

a:hover {
  text-decoration: none;  
}

img {
    width: 100%;
    height: auto;
}

main {
    background-color: rgba(254, 254, 254, 0);
    margin-bottom: 10vh;
}

/* Page d'accueil */
.background {
    background: url(../images/MONTREAL.jpg) no-repeat fixed; 
    background-size: contain;
    height: 70vh;
    margin-top: -20vh;
}

.depart {
    bottom: -45vh;
    color: #f5f5f5;
    text-shadow: 1px 1px 3px #666;
    background-color: rgba(254, 254, 254, 0);
}

.depart button {
    width: 125px;
    -webkit-box-shadow: 1px 1px 3px #666;
    -moz-box-shadow: 1px 1px 3px #666;
    box-shadow: 1px 1px 3px #666;    
}

@media (min-width: 1400px) {
    .depart {
        bottom: -45vh;
    }
}

@media (max-width: 1400px) {
    main.background {
        height: 60vh;
    }
    
    .depart {
        bottom: -35vh;
    }
}

@media (max-width: 1150px) {
    main.background {
        height: 50vh;
    }
    
    .depart {
        bottom: -30vh;
    }
}

@media (max-width: 1000px) {
    main.background {
    }

    .depart {
        bottom: -42vh;
    }
}

@media (max-width: 767px) {
    main.background {
        background-position: 0 11vh;
    }
}

/* Page recherche */
.recherche {
    -webkit-box-shadow: 1px 1px 1px #999;
    -moz-box-shadow: 1px 1px 1px #999;
    box-shadow: 1px 1px 1px #999;    
}

.nav-item {
    color: rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 3px #666;
}

a:hover.nav-item {
    color: rgb(200, 110, 30);
    text-shadow: 1px 1px 3px #666;
}

.nav-item.nav-link.active {
    color: #e98d34;
    text-shadow: 1px 1px 3px #666;
}

#carte {
    min-height: 80vh;
    -webkit-box-shadow: 1px 1px 2px #999;
    -moz-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999;    
}

.legende img {
    width: 20px;
    height: auto;
}

.hidden {
    display: none;
}

h4.titre-fiche {
    background: rgba(0, 0, 0, 0.67);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.6));
}

.description-fiche a {
    color: rgba(0, 0, 0, 0.67);
}

.description-fiche a:hover {
    color: rgba(0, 0, 0, 0.9);
}

#fiches {
    height: 80vh;
    overflow: scroll;
    -webkit-box-shadow: 1px 1px 2px #999;
    -moz-box-shadow: 1px 1px 2px #999;
    box-shadow: 1px 1px 2px #999;    
}

/* Évaluations 
Source : https://stackoverflow.com/questions/30765441/use-font-awesome-star-rating-define-by-width
*/
.score {
    display: inline-block;
    font-family: Wingdings;
    font-size: 25px;
    color: #ccc;
    position: relative;
}

.score::before, .score span::before {
    content: "\2605\2605\2605\2605\2605";
    display: block;
}

.score span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #e98d34;
    text-shadow: 1px 1px 3px #666;
}

.prix {
    font-size: 25px;
    color: #e98d34;
    text-shadow: 1px 1px 3px #666;
}

/* Styles pour les boutons */
.btn-bleu {
    color: #f5f5f5;
    background-color: rgb(29, 145, 188);
    border-color: #1d91bc;
}

.btn-bleu:hover {
    color: #f5f5f5;
    background-color: rgb(15, 110, 145) !important;
    border-color: rgb(15, 110, 145) !important;
}

.btn-bleu:focus, .btn-bleu.focus {
    -webkit-box-shadow: 0 0 0 3px rgba(23, 133, 173, 0.5) !important;
    -moz-box-shadow: ;
    box-shadow: 0 0 0 3px rgba(23, 133, 173, 0.5) !important;
}

.btn-bleu.disabled, .btn-bleu:disabled {
    background-color: #78aeee;
    border-color: #78aeee;
}

.btn-bleu:active, .btn-bleu.active,
.show > .btn-bleu.dropdown-toggle {
    color: #f5f5f5;
    background-color: rgb(23, 133, 173) !important;
    background-image: none;
    border-color: rgb(23, 133, 173) !important;
}

.btn-orange {
    color: #f5f5f5;
    background-color: #e98d34;
    border-color: #e98d34;
}

.btn-orange:hover {
    color: #f5f5f5;
    background-color: rgb(205, 120, 45) !important;
    border-color: rgb(205, 120, 45) !important;
}

.btn-orange:focus, .btn-orange.focus {
    -webkit-box-shadow: 0 0 0 3px rgba(205, 120, 45, 0.5) !important;
    -moz-box-shadow: ;
    box-shadow: 0 0 0 3px rgba(205, 120, 45, 0.5) !important;
}

.btn-orange.disabled, .btn-orange:disabled {
    background-color: #deb995;
    border-color: #deb995;
}

.btn-orange:active, .btn-orange.active,
.show > .btn-orange.dropdown-toggle {
    color: #f5f5f5;
    background-color: #e98d34 !important;
    background-image: none;
    border-color: #e98d34 !important;
}

/** Carousel **/
.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -10%;
    width: 5%;
    text-align: center;
    color: #fefefe;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

a.jcarousel-control-prev:hover,
a.jcarousel-control-next:hover {
    color: #e98d34;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .25;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    display: inline-flex;
    position: absolute;
    top: 2%;
    margin: 0 auto;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #e98d34;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #e98d34;
    -moz-box-shadow: 0 0 2px #e98d34;
    box-shadow: 0 0 2px #e98d34;
}

.jcarousel-pagination a.active {
    background: #e98d34;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}


/* Zoraida */
.bg-login {
    color: white;
}
    
.bg-login:hover {
      color: #f6c784;
}

.iconMessage {
    color: #e98d34;
}
    
.modal-header, h4 {
    background-color: rgba(23, 117, 152, 0);
    background: linear-gradient(to right, rgba(23, 117, 152, 0.63), rgb(23, 117, 152));
    color: #fefefe !important;
    text-align: center;
    font-size: 20px;
}
    
.modal-header {    
    height: 60px;
}

.modal-header .close {
    padding: 0.5rem;
    margin: -.5rem -1rem -1rem auto;
    color: #fefefe !important;
    background-color: rgba(23, 117, 152, 0);
}
    
#btnModal {    
    height: 30px;
    color: #f5f5f5;
    background-color: #1d91bc;
    border-color: #1d91bc; 
    border: none;
    border-radius: 4px;
}

.modal-footer {
    background-color: #F6F7EA;
}

.textModalc {
    color: black;
}

#dialog { 
    width: 300px;
    height: 100px;
}

.navbar {
    background: rgba(51, 51, 51, 0.97);
}

label {
    color: black;
}    

#services {
    margin-top: 20px;
    background: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.footerText {
    color: #9d9d96;
    font-size: 0.9em;
}

.iconFooter {
    color: #e98d34;
}

/* style social icon*/
.fa {
    padding: 10px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Mettez une couleur spécifique pour chaque icon */
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google-plus {
    background: #b33b2c;
    color: white;
}

.fa-twitter {
    background: white;
    color: #1b95e0;;
}

#info {
    background-color: #f6f7eA;   
    padding: 15px;
}

.circle {
    width: 250px;
    height: 250px;   
    background: #fefefe; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    margin: 20px;
    padding: 10px 15px 40px 15px;
    font-family: 'Pragati Narrow', sans-serif;
}
/* ------------
  Messagerie 
-------------*/
  .nav-pills, .tab-content {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  #v-pills-tab {
       background: rgba(0, 0, 0, 0.67);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.6));
      border-radius: 5px;
      font-size: 0.7rem;
  }
  
 a.nav-link {
    color: #F0EFE7;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgb(57, 57, 57);
  }
  
   #v-pills-profile {
    height: 40vh;
    overflow: scroll;
  }
  
  

  
